@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a simple application to enter Todo list which will call an API to store that values. Please click <strong>Todo</strong> link above to enter todo items</p>
</div>
