@model IEnumerable<TodoMVC.Models.TodoItem>
@{
    ViewBag.Title = "To Do List";
}
<form name="input" action="Todo" method="post">
    Add new todo item: <input type="text" name="item" required>
    <input type="submit" value="Save">
</form>
<br/>
<table class="table table-bordered table-striped">
    <tr>
        <th colspan="3">Todo List</th>
    </tr>
    @if (Model.Any())
    {
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.Description</td>
                <td>Created On @i.CreatedOn.ToString("dd MMM yyyy")</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = i.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = i.Id })
                </td>
            </tr>
        }
    }
    else
    {
    <tr><td colspan="3">Nothing to display!!</td></tr>
        }
</table>

